<form action="#" method="post">
  <label for="name">Rob</label>
  <input name="name" type="text" value="rob">
  <label for="job">Hexlet</label>
  <input name="job" type="text" value="hexlet">
  <textarea cols="20" rows="40" name="job">hexlet</textarea>
</form>